.footer {
    width: 100%;
    padding: 20px 0;
    background-color: #406770;
    &_row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 654px) {
            flex-direction: column;
        }
    }
    &__text {
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 18px;
        @media (max-width: 654px) {
            margin: 0 0 10px 0;
        }
    }
    &__tel {
        color: #ffffff;
        font-family: "Roboto";
        font-size: 27px;
        font-weight: 700;
    }
}
